---
import { getAPIPath, getRandomElements, shuffleArray } from "../../js/utils";
import PanelLayout from "../../layouts/PanelLayout.astro";
interface serviceSchema {
    serviceColor: string;
    serviceLogo: {
        name: string;
        mediaType: string;
        url: string;
    };
    serviceTitle: string;
}

export const prerender = true;
export async function getStaticPaths() {
    const allServicesFetch: any = await fetch(getAPIPath() + "api/services.json");
    const allServiceRes: serviceSchema[] = await allServicesFetch.json();

    return allServiceRes.map((service: any) => ({
        params: {
            slug: service.serviceTitle
                .toString()
                .toLowerCase()
                .replaceAll(" ", "-"),
        },
        props: { service },
    }));
}

const { service } = Astro.props;
const { slug } = Astro.params;

let serviceName = service.serviceTitle;

//Fetching All Panels to count How many panels provides the relevant Service
const allPanelRes = await fetch(getAPIPath() + "api/panels.json").then(Response => Response.json());

//Counting Services and Collecting all Relevant Services
let count = 0, panelCount = 0,
    relevantServices: any[] = [];

const allServicesResponse = await fetch("https://smmsearch-io-cron.vercel.app/api/panelServices/search_" + serviceName).then(Response => Response.json());

count = allServicesResponse.servicesFoundCount;

relevantServices = allServicesResponse.combinedArray;
for (let i = 0; i < relevantServices.length; i++) {
    for (let j = 0; j < allPanelRes.length; j++) {
        if(relevantServices[i].panelSlug === allPanelRes[j].panelSlug){
            relevantServices[i].PanelFeatureImage = allPanelRes[j].paneFeaturedImage.url;
        }
    }
}
// Extract unique panel names
const uniquePanelNames = new Set(relevantServices.map((obj) => obj.panelName));

// Count the number of unique panel names
panelCount = uniquePanelNames.size;

relevantServices = getRandomElements(relevantServices, relevantServices.length);

// console.log("Relevant Services are - " , relevantServices);

//Fetching Site Settings
const allSiteFetch:any = await fetch(getAPIPath() + "api/siteData.json").then(Response => Response.json());

let servicePageListCount = allSiteFetch[0].platformServiceCount || 20;

// console.log(allPanelAPIs.length);
// console.log(SMMService_APIData.length);
// console.log(relevantServices.length);
---

<PanelLayout 
    title={service.serviceTitle + " Services at SMM Panel"} 
    metaDescription={`Checkout more than ${count-5} services related to `+ service.serviceTitle + " on " + allSiteFetch[0].SiteTitle}
    pageFeaturedImage = {service.serviceLogo.url}
    >
    <div class="content-wrapper flex flex-wrap lg:justify-start justify-center gap-5 my-6 px-5">
        
        <article class="flex flex-col gap-5 w-full">
            <span
                class="header lg:w-full w-[90vw] flex gap-4 flex-col lg:flex-row p-5 rounded-xl text-white"
                style={`background-color: ${service.serviceColor}`}
            >
                <span class="flex gap-4 lg:w-[70%]">
                    <span class="flex p-3 size-28 rounded-lg bg-white">
                        <img
                            src={service.serviceLogo.url}
                            alt={service.serviceTitle}
                            class="size-full rounded"
                        />
                    </span>
                    <span>
                        <h1 class="text-5xl font-bold">
                            {service.serviceTitle}
                        </h1>
                        <span class="text-2xl font-semibold"
                            >{count! ? count + " Services Available" : ""}</span
                        >
                    </span>
                </span>
                <span class="text-2xl lg:w-[35%] font-semibold"
                    >{
                        panelCount!
                            ? `Panels Providing Services : ${allPanelRes.length-(Math.floor(Math.random() * 11))}`
                            : ""
                    }</span
                >
            </span>
    
            {
                relevantServices.length > 0 
                ? 
                <div class="services lg:min-h-[400px] flex flex-col justify-center items-center">
                <h2 class="text-3xl font-semibold">Services</h2>
    
                <div class="services-table-holder shadow-2xl text-center mt-5 lg:w-full w-[89vw] overflow-auto">
                    <div class="table-wrapper md:w-full w-[900px]">
                        <span
                            class="offerHeader w-full flex bg-[#36304a] font-semibold text-white">
                            <span class="offer_id my-6 w-[5%] pl-2">S.No</span>
                            <span class="offer_service my-6 w-[27.5%]">Service</span>
                            <span class="offer_Minorder my-6 w-[13.5%]">Min order</span>
                            <span class="offer_Maxorder my-6 w-[13.5%]">Max order</span>
                            <span class="offer_rate my-6 w-[13.5%]">Rate per 1000</span>
                            <span class="offer_rate my-6 w-[13.5%]">SMM Panel</span>
                            <span class="offer_rate my-6 w-[13.5%]">Visit Panel</span>
                        </span>
    
                        {
                            relevantServices.map((smm_service: any, j: number) => (
                                <span
                                    class="offerList w-full flex border-b border-gray-400"
                                    class:list={[
                                        j + 1 == 1 && "pageCounter",
                                        j + 1 > servicePageListCount && "hidden",
                                    ]}
                                >
                                    <span class="offer_id line-clamp-1 my-3 w-[5%] pl-2">
                                        {j + 1}
                                    </span>
                                    <span
                                        class="offer_service line-clamp-1 my-3 w-[27.5%] text-left"
                                        title={smm_service.serviceName}>
                                        {smm_service.serviceName}
                                    </span>
                                    <span class="offer_Minorder line-clamp-1 my-3 w-[13.5%]">
                                        {smm_service.serviceMin}
                                    </span>
                                    <span class="offer_Maxorder line-clamp-1 my-3 w-[13.5%]">
                                        {smm_service.serviceMax}
                                    </span>
                                    <span class="offer_rate line-clamp-1 my-3 w-[13.5%]">
                                        ${smm_service.serviceRate}
                                    </span>
                                    <span class="offer_panelTitle line-clamp-1 my-3 w-[13.5%]">
                                        <a class="hover:underline hover:font-semibold" href={`/panels/` + smm_service.panelSlug }>{smm_service.panelName}</a>
                                    </span>
                                    <span class="offer_rate line-clamp-1 my-3 w-[13.5%]">
                                        <a class="hover:underline hover:font-semibold" href={smm_service.panelRefUrl}>{smm_service.panelName} <i class="fa-solid fa-up-right"></i></a>
                                    </span>
                                </span>
                            ))
                        }
                    </div>
                </div>
                {
                    relevantServices.length > servicePageListCount && (
                        <div
                            class="paginationHolder flex flex-col gap-3 w-full items-center my-5"
                            data-pageSize={servicePageListCount}
                        >
                            <div class="paginationBtns flex gap-3 items-center">
                                <div class="prevbtns flex justify-center items-center cursor-pointer rounded-full size-12 bg-slate-700 text-white border">
                                    <i class="fa-duotone fa-chevrons-left" />
                                </div>
                                <div class="paginationInfo text-center">
                                    <span class="rounded-lg p-4 h-full font-bold">
                                        Showing Results
                                    </span>
                                    <span class="pageNumber block" />
                                </div>
                                <div class="nextbtns flex justify-center items-center cursor-pointer rounded-full size-12 bg-slate-700 text-white border">
                                    <i class="fa-duotone fa-chevrons-right" />
                                </div>
                            </div>
                        </div>
                    )
                }
            </div>
                : <h2 class="font-bold text-xl text-center">Sorry No Service Available right now for this Website.</h2>
            }
    
            
        </article>
        
    </div>
</PanelLayout>


<script is:inline src="/assets/scripts/main.js"></script>
<script is:inline>
    try {
        let pageSize = Number(
            document
                .querySelector(".paginationHolder")
                .getAttribute("data-pageSize"),
        );
        let allServiceList = document.querySelectorAll(".offerList");
        let pagiNextBtn = document.querySelector(".paginationBtns .nextbtns");
        let pagiPrevBtn = document.querySelector(".paginationBtns .prevbtns");
        let pageNumber = document.querySelector(".paginationBtns .pageNumber");
        var currentPosition,
            lastPosition = allServiceList.length;
        var pageNo = 1;
        allServiceList.forEach((serviceItem) => {
            if (serviceItem.classList.contains("pageCounter")) {
                currentPosition =
                    Number(serviceItem.children[0].textContent) - 1;
                return;
            }
        });
        updatePageNumber();

        pagiNextBtn.addEventListener("click", () => {
            paginate("next");
            updatePageNumber();
        });

        pagiPrevBtn.addEventListener("click", () => {
            paginate("prev");
            updatePageNumber();
        });

        function paginate(paginateType) {
            allServiceList.forEach((serviceItem) => {
                serviceItem.classList.add("hidden");
                serviceItem.classList.remove("pageCounter");
            });

            if (paginateType == "next") {
                if (currentPosition + pageSize < lastPosition){
                    bringToView("header");
                    currentPosition = currentPosition + pageSize;
                }
                else {
                    //block Next Button
                }
            } else if (paginateType == "prev") {
                if (currentPosition - pageSize >= 0){
                    bringToView("header");
                    currentPosition = currentPosition - pageSize;
                }
                else {
                    //block prev Button
                }
            }

            pageNo = currentPosition / pageSize + 1;

            allServiceList[currentPosition].classList.add("pageCounter");

            allServiceList.forEach((serviceItem, index) => {
                if (serviceItem.classList.contains("pageCounter")) {
                    for (let i = 0; i < pageSize; i++) {
                        if (index + i < allServiceList.length)
                            allServiceList[index + i].classList.remove(
                                "hidden",
                            );
                    }
                }
            });
        }
        function updatePageNumber() {
            pageNumber.textContent = `${pageNo} of ${Math.ceil(allServiceList.length / pageSize)}`;
        }
    } catch (error) {}
</script>