---
import MainLayout from "../layouts/MainLayout.astro";
import SMM_panelCards from "../components/SMM_panelCards.astro";
import SearchForm from "../components/SearchForm.astro";
import { getAPIPath, optimizeImageUrl } from "../js/utils";
// import servicePlatformsData from "../data/temp-services";

interface serviceSchema{
    serviceColor: string,
    serviceLogo: {
        name: string,
        mediaType: string,
        url: string,
    },
    serviceTitle: string,
}
//Fetching Site Settings
const siteDataRes = await fetch(getAPIPath() + "api/siteData.json");
const allSiteFetch: any = siteDataRes.ok ? await siteDataRes.json() : [{ homeHeaderText: "Welcome", homeHeaderPara: "", homePanelCount: 6 }];

//Fetching All Services
const allServicesFetch = await fetch(getAPIPath() + "api/services.json");
const allServiceRes: serviceSchema[] = allServicesFetch.ok ? await allServicesFetch.json() : [];

interface panelStructure {
	paneFeaturedImage: {
		url: string;
	};
	id: string;
	panelAPIKey: string;
	panelAPILink: string;
	panelSlug: string;
	panelTextDescrition: string;
	panelTitle: string;
	panelTotalServices: number;
	panelWebsiteURL: string;
}

const allPanels = await fetch(getAPIPath() + "api/panels.json");
const responsePanels = allPanels.ok ? await allPanels.json() : [];

const sidebarRes = await fetch(getAPIPath() + "api/sidebarWidgets.json");
const allSidebarWidgetsFetch: any = sidebarRes.ok ? await sidebarRes.json() : [];
// console.log(responsePanels);

---

<MainLayout title="Home">
	<div class="indexHero text-center lg:w-2/4" slot="heroContent">
		<h1 class="text-3xl font-bold my-5">{allSiteFetch[0].homeHeaderText}</h1>
		<p class="my-5">{allSiteFetch[0].homeHeaderPara}</p>

		<SearchForm searchPagePath={"/search"}/>
	</div>

	<main class="w-full flex flex-col md:flex-row gap-5">
		<!-- SMM Panels Listing -->
		<section class="panel-container lg:mb-14 lg:w-[60%] lg:p-0 p-5">
			{
				responsePanels.length > 0 
					? 
					<div class="header flex justify-between items-center gap-2 w-full my-4">
						<span>
							<h2 class="text-xl font-semibold">Latest SMM Panels</h2>
							<p>Explore the most recently added SMM Panels and more...</p>
						</span>
						<a class="w-[15%] text-right hover:font-semibold hover:underline" href="/panels">See all</a>
					</div>

					<div class="wrapper flex justify-center items-center flex-wrap gap-5">
					{
						responsePanels.reverse().slice(0, allSiteFetch[0].homePanelCount).map((panel: panelStructure) => (
							<SMM_panelCards
								descriptionText={panel.panelTextDescrition}
								imageSrc = {panel.paneFeaturedImage == null ? "" : optimizeImageUrl(panel.paneFeaturedImage.url, 250) }
								panelTitle={panel.panelTitle}
								slugURL={panel.panelSlug}
							/>
						))
					}
					</div>
					: <h2 class="text-xl font-semibold text-center">No Panel is there at the moment.</h2>
			}
		</section>

		<aside class="lg:w-[40%] p-5 flex flex-col gap-y-4">
			<div class="services-cloud-container bg-white p-3 rounded-md">

				{
					// servicePlatformsData.length > 0
					allServiceRes.length > 0
					?	
					<div class="header flex justify-between items-center w-full">
						<span class="w-full">
							<h2 class="text-xl font-semibold text-center">
								All Services
							</h2>
						</span>
					</div>

					<div class="services-cloud flex flex-wrap gap-3 text-white">

						{
							allServiceRes.slice(0, 20).map((panel_service)=>(
							<a href={"/services/"+ panel_service.serviceTitle.toLowerCase().replaceAll(" ", "-")} class="px-4 capitalize py-2 rounded-md cursor-pointer hover:brightness-110" style={`background-color: ${panel_service.serviceColor}`}
								>{panel_service.serviceTitle}</a>
							))
						}

						{
							allServiceRes.length > 20 &&
							<a href="/services/" class="px-4 text-black capitalize py-2 border-2 border-gray-700 rounded-md cursor-pointer hover:brightness-110"
								>Show All</a>
						}

						<!-- {
							servicePlatformsData.map((service) => (
								<a class="px-4 capitalize py-2 rounded-md cursor-pointer" style={`background-color: ${service.color}`}
								>{service.platform}</a>
							))
						}  -->
					</div>
					: <h2 class="text-xl font-semibold text-center">No Services Listed at the Moment</h2>
				}
				

			</div>
			
			{
				allSidebarWidgetsFetch.map((widget:any)=> (
					<div class="widget-container bg-white p-3 rounded-md text-center" set:html={widget.widgetCodeBlock}>
					</div>
				))
			}

			<div class="top-panel-container bg-white p-3 rounded-md hidden">
				<div class="header flex justify-between items-center w-full">
					<span class="w-full">
						<h2 class="text-xl font-semibold text-center">
							Top SMM Panels
						</h2>
					</span>
				</div>

				<div class="top-panel">
					<ul>
						<li>
							<a class="flex gap-3 items-center" href="">
								<img
									src="https://cdn.comparesmm.com/favicons/smmturk.png"
									class="rounded-full size-10"
								/>
								<span class="font-semibold">SMMTurk</span>
							</a>
						</li>
						<li>
							<a class="flex gap-3 items-center" href="">
								<img
									src="https://cdn.comparesmm.com/favicons/smm-cost.png"
									class="rounded-full size-10"
								/>
								<span class="font-semibold">SMM Cost</span>
							</a>
						</li>
						<li>
							<a class="flex gap-3 items-center" href="">
								<img
									src="https://cdn.comparesmm.com/favicons/bulkfollows.png"
									class="rounded-full size-10"
								/>
								<span class="font-semibold">Bulkfollows</span>
							</a>
						</li>
						<li>
							<a class="flex gap-3 items-center" href="">
								<img
									src="https://cdn.comparesmm.com/favicons/crescitaly.png"
									class="rounded-full size-10"
								/>
								<span class="font-semibold">Crescitaly</span>
							</a>
						</li>
						<li>
							<a class="flex gap-3 items-center" href="">
								<img
									src="https://cdn.comparesmm.com/favicons/global-smm.png"
									class="rounded-full size-10"
								/>
								<span class="font-semibold">Global SMM</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</aside>
	</main>
</MainLayout>

<script is:inline>

	const searchBox = document.getElementById("searchQuery");
	function validateSearchForm() {
		if(searchBox.value === ""){
			return false;
		}
		else
			return true;
	}

</script>