---

interface Props {
    imageSrc : string,
    panelTitle : string,
    service : number,
    rating : number,
    avrg : number,
    slugURL : string,
    websiteURL : string,
}

const {imageSrc ,panelTitle ,service, rating, avrg, slugURL, websiteURL} = Astro.props;

var ratingCollection : String[] = [];
for (let j = 0; j < 5; j++) {
    if(j < rating)
        ratingCollection.push("fa-solid fa-star");
    else
        ratingCollection.push("fa-regular fa-star");
}

// console.log(imageSrc ,panelTitle ,descriptionText ,slugURL);

---

<article class="lg:w-[32%] md:w-[48%] w-full rounded-lg bg-white shadow-md hover:shadow-2xl hover:-translate-y-2 hover:scale-105 transition-all ease-in-out duration-150">
    
    <a href={"/panels/" + slugURL}>
        <img src=
        {
            imageSrc != ""
            ? imageSrc 
            :"/assets/images/no-image-available.jpg"
        } 
        alt={panelTitle + " thumbnail"} class="h-52 w-full rounded-tl-lg rounded-tr-lg hover:brightness-75">
    </a>
    
    <div class="data w-full">
        <div class="articleLink p-3 w-full flex flex-col">
            <span class="flex w-full justify-between">
                <h2 class="font-bold hover:underline"><a href={"/panels/" + slugURL}>{panelTitle}</a></h2>
                {
                    service != 0 &&
                    <span class="block text-right">{service.toString()} {service > 1 ? "Services" : "Service"}</span>
                }
            </span>
            
            <span class="flex w-full justify-between">
                <span class="flex gap-1 items-center text-yellow-400 text-sm mt-2" title={`${rating} of 5`}>
                    {
                        ratingCollection.map(rating =>(
                            <i class={rating.toString()}></i>
                        ))
                    } <span class="text-black">{`${rating}/5`}</span>
                </span>
                {
                    avrg != 0 &&
                    <span class="block">{`Average Price : $${avrg}`}</span>
                }
            </span>
            
        </div>
        
        <div class="websiteLink p-3 bg-slate-200 rounded-bl-lg rounded-br-lg">
            <a href={websiteURL} target="_blank" class="text-sm hover:font-semibold"><i class="fa-solid fa-link"></i> {websiteURL.split("/")[0] + "//" + websiteURL.split("/")[2]}</a>
        </div>
    </div>
</article>
