---
import "../styles/global.css";
import HeroSection from "../components/HeroSection.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { getAPIPath } from "../js/utils";
import { SEO } from "astro-seo";
interface Props {
    title:string,
    metaDescription?:string,
    pageType ?: string,
    isCanonical ?: boolean
}

//Fetching Site Settings
const siteDataRes = await fetch(getAPIPath() + "api/siteData.json");
const allSiteFetch: any = siteDataRes.ok ? await siteDataRes.json() : [{
    SiteTitle: "SMM Search",
    siteMetaDescription: "",
    siteFavicon: { url: "/favicon.ico" },
    siteLog: { url: "" },
    homeBackgroundImage: { url: "" }
}];

const {
    title, 
    metaDescription = allSiteFetch[0].siteMetaDescription,
    isCanonical = false,
    pageType = "website",
    } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <SEO
      title={`${title} - ${allSiteFetch[0].SiteTitle}`}
      description={metaDescription}
      openGraph={{
        basic: {
          title: `${title} - ${allSiteFetch[0].SiteTitle}`,
          type: pageType,
          image: allSiteFetch[0].siteFavicon.url,
        }
      }}
      twitter={{
        creator: "@Jack"
      }}
      extend={{
        // extending the default link tags{allSiteFetch[0].siteFavicon.url}
        link: [{ rel: "icon", href: allSiteFetch[0].siteFavicon.url }],
        // extending the default meta tags
        meta: [
          { name: "twitter:title", content: `${title} - ${allSiteFetch[0].SiteTitle}` },
          { name: "twitter:description", content: metaDescription },
        ],
      }}
    />
    <link rel="shortcut icon" href={allSiteFetch[0].siteFavicon.url} type="image/x-icon">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <meta name="generator" content={Astro.generator} />
</head>
<body>
    <Navbar logoImgSrc={allSiteFetch[0].siteLog.url}></Navbar>
    <HeroSection headerBgImgSrc={allSiteFetch[0].homeBackgroundImage.url}>
        <slot name="heroContent"></slot>
    </HeroSection>
    
    <div class="main-placeholder py-5 flex justify-center items-center bg-slate-100">
        <div class="main-container lg:w-[1150px]">
            <slot /> <!-- Main Content Placeholder -->
        </div>
    </div>
    
    <Footer siteTitle={allSiteFetch[0].SiteTitle}></Footer>
</body>
</html>